.Button {
  background: papayawhip;
  font-weight: 600;
  padding: 8px 16px;
  border: 1px solid #eee;
  cursor: pointer;
  margin-bottom: 16px;
  margin-right: 8px;
}

.Button:hover {
  background: mediumaquamarine;
}
